@{
    ViewData["Title"] = "Home Page";
}
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <h1>Welcome, @User.Identity.Name</h1>
    <a class="btn btn-lg btn-danger" href="/signout">Sign out</a>
}
else
{
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <a class="btn btn-lg btn-success" href="/home/signin">Sign in</a>
    </div>
}
